In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "日付": ["2023-05-17","2023-05-18","2023-05-19","2023-05-20","2023-05-21"],
    "社員名": ["山田", "佐藤", "鈴木", "田中", "高橋"],
    "売上": [100,200,150,300,250],
    "部門": ["メーカー","代理店","メーカー","商社","代理店"]
} 

df = pd.DataFrame(data)
df

           日付 社員名   売上    部門
0  2023-05-17  山田  100  メーカー
1  2023-05-18  佐藤  200   代理店
2  2023-05-19  鈴木  150  メーカー
3  2023-05-20  田中  300    商社
4  2023-05-21  高橋  250   代理店

In [3]:
df["売上平均"] = average_sales = df["売上"].mean()
df["売上平均"]

0    200.0
1    200.0
2    200.0
3    200.0
4    200.0
Name: 売上平均, dtype: float64

In [4]:
def performance(sales):
        if sales >= average_sales + 50:
            return "A"
        elif sales >= average_sales:
            return "B"
        else:
            return "C"


df["業績ランク"] = df["売上"].apply(performance)

print(df)

           日付 社員名   売上    部門   売上平均 業績ランク
0  2023-05-17  山田  100  メーカー  200.0     C
1  2023-05-18  佐藤  200   代理店  200.0     B
2  2023-05-19  鈴木  150  メーカー  200.0     C
3  2023-05-20  田中  300    商社  200.0     A
4  2023-05-21  高橋  250   代理店  200.0     A

In [6]:
writer = pd.ExcelWriter("業績.xlsx")

df.to_excel(writer,sheet_name="Sheet",index=False)

writer.close()